{{define "title"}}{{.PageId}}{{end}}
{{define "body"}}
<h1><a title="edit" href="/p/{{.PageId}}?edit=edit">{{.PageId}}</a></h1>
<p class="modified">Last Modified: {{.Modifiedtime.Format "Jan 02, 2006 15:04"}}</p>
<pre>
{{.HTML}}
</pre>
<form action="/p/{{.PageId}}" method="POST"><input type="submit" name="delete" value="delete"></form>
<h3><a href="/p/RecentChanges">RecentChanges</a></h3>
<pre id="rc"></pre>
<script type="text/javascript">
    (function() {
        var data = document.getElementById("rc");
        var conn = new WebSocket(((window.location.protocol === "https:") ? "wss://" : "ws://") + window.location.host + "/ws");
        conn.onclose = function(evt) {
            data.textContent = 'Connection closed';
        }
        conn.onmessage = function(evt) {
            console.log('file updated');
            data.textContent += evt.data + "\n";
        }
    })();
</script>
{{end}}
